<!-- 
faq.html
faq and feedback
-->


{% extends "base.html" %}
{% block content %}      


<!-- navbar -->
<div class = "navbar">
    <a class = "navlinks" href = "/buy">BUY</a>
    <a class = "navlinks" href = "/sell">SELL</a>
    <a class = "current_link" href = "/faq">F.A.Q</a>
</div>

<!-- main content -->
<div class = "spacing center left  animated fadeIn">

    <!-- faq -->
    <div class = "faq">

        <div>This web app facilitates the exchange of meal points for students at Washington University in St. Louis.
        </div><br>

        <div>
            {{count}} meal points have been circulated.
        </div><br>

        <h2>Buy meal points</h2>
        <div>Click the offer that you want to buy and leave your email address. 
            When you verify your email address, an email regarding the transaction will automatically be sent to both you and the seller.</div><br>

        <h2>Sell meal points</h2>
        <div>Type in your offer details. 
        When you verify your email address, your offer will instantly appear on the market.</div><br>


        <h2 style = "font-size:22px;color:#383838;text-align:center; margin-bottom:40px;">F.A.Q</h2>    

        <h2>Do I have to pay to use trademealpoints?</h2>
        <div>No. This web app is totally free to use.</div><br>

        <h2>Is there an Android app for this?</h2>
        <div><a class = "text_link" target="_blank" href = "https://play.google.com/store/apps/details?id=yf.dev.trademealpoints">You bet there is.</a></div><br>

        <h2>Which meal plans can transfer meal points?</h2>    
        <div>Gold, silver, bronze, and apartment.</div><br>

        <h2>How do I receive payment for the meal points I sell?</h2>
        <div>When someone wants to buy your meal points, you will both receive an email 
            containing each other's contact information. Meet the other person at 
            the Dining Services office (in SoFoHo) and sign the transfer form. Voila.</div><br>

        <h2>How do I edit/remove my offer?</h2>    
        <div>Type in your email <a class = "text_link" target="_blank" href = "/changeoffer">here</a>. You will get a link for directly editing/removing your offer.</div><br>

        <h2>How come I didn't get my verification email?</h2>    
        <div>If you use a different primary email, it takes a few minutes for wustl emails to forward. Try checking your wustl account directly.</div><br>

        <h2>What if I want to split up my meal points and sell them?</h2>    
        <div>Post twice. You don't have to verify your email again.</div><br>

        <h2>Is it free to transfer meal points?</h2>
        <div>WashU takes a 15 point transaction fee, 7.5 points per person.</div><br>

        <h2 id = "donate">How can I support Trade Meal Points?</h2>
        <div style = "margin-bottom:50px;"><a class = "text_link" href = '/getkarma'>Buy me a coffee.</a></div>

        <h2>Where can I find more details on the meal point transfer process?</h2>
        <div><a class = "text_link" target="_blank" href = "http://diningservices.wustl.edu/meal-plans/undergraduate/">Here.</a></div><br>
    </div>


    <!-- feedback -->
    <div id = "feed" style = "text-align:center;margin-bottom:130px;">

        <!-- title -->
        <div id = "feedback_title" style = "font-size:21px;color:#383838;margin-bottom:25px;margin-top:5px;">COMMENTS</div>

        <!-- textarea -->
        <div><textarea type="text" id = "feedback" cols="40" rows="5"  name="feedback" value="{{feedback}}" placeholder="Include your email if you want a reply!"></textarea></div>

        <!-- submit button -->
        <div><button type="submit" id = "submit" class = "button" >kk</button></div>

        <!-- status -->
        <div id = 'error' class = "spaceup" style = 'height:30px;display:none;'>What are your thoughts?</div>

    </div>

</div>

{% endblock %}
