<!-- 
sell.html
submit offer
-->


{% extends "base.html" %}
{% block content %}


<!-- navbar -->
<div class = "navbar">
    <a class = "navlinks" href = "/buy">BUY</a>
    <a class = "current_link" href = "/sell">SELL</a>
    <a class = "navlinks" href = "/faq">F.A.Q</a>
</div>


<!-- main content -->
<form method="post" class = "center animated fadeIn">

    <!-- amount -->
    <div class = "spaceup">
        <img src = "/png/mp.png" id = "sellmp" class = "sellicon" width="30px">
        <input type="text" id = "amountinput" placeholder = "number of mp" name="amount" value="{{amount}}">
    </div>


    <!-- price -->
    <div>
        <img src = "/png/amount.png" id = "sellamount" class = "sellicon" width="30px">
        <input type="text" id = "priceinput" placeholder = "price per mp"  name="price" value="{{price}}">
    </div>


    <!-- email -->
    <div>
        <img src = "/png/email.png" id = "sellemail" class = "sellicon" width="30px">
        <input type="text" class = "emailinput" placeholder = "wustl email" name="email" value="{{email}}">
    </div>



    <!-- user not in db -->
    {%if need_code%} 

        <!-- first name -->
        <div>
            <img src = "/png/first.png" id = "sellfirst" class = "sellicon" width="30px">
            <input type="text" placeholder = "first name" name="first_name" value="{{first_name}}">
        </div>


        <!-- last name -->
        <div>
             <img src = "/png/last.png" id = "selllast" class = "sellicon" width="30px">
            <input type="text" placeholder = "last name"   name="last_name" value="{{last_name}}">
        </div>


        <!-- verify code from email-->
        <div>
            <img src = "/png/cvc.png" id = "sellverify" class = "sellicon" width="30px">
            <input type="text" placeholder = "verification code"  name="code" value="{{code}}">
        </div>
    
        <!-- submit -->
        <button type="submit" name = "resend_button" class = "button narrowbutton spaceup" value = "resend code">resend code</button>

    {%endif%}



    <!-- submit offer -->
    <button type="submit" name = "submit_button" class = "button spaceup tenbelow" value = "okay">submit</button><br>


    <!-- link to edit current offers -->
    <a class = "text_link animated fadeInUp" href = "/changeoffer">edit my offer</a>


    <!-- status -->
    <div class = "stat">{{stat}}</div>

</form>

{% endblock %}
